#ranges to be scanned in nmap format
ranges = [
    '192.168.1.2-254',
]

# stdout if empty
LOG_FILE = ''

INDEX = 'lase'
DOC_TYPE = 'file'

SETTINGS =  {
    'analysis' : {
        'analyzer' : {
            'filename_words' : {
               'tokenizer' : 'filename',
               'filter' : ['asciifolding','lowercase']
            },
            'filename_ngram' : {
               'tokenizer' : 'filename',
               'filter' : ['asciifolding','lowercase','edge_ngram']
            }
        },
        'tokenizer' : {
            'filename' : {
                'pattern' : '[^\\p{L}\\d]+',
                'type' : 'pattern'
            }
        },
        'filter' : {
            'edge_ngram' : {
                'side' : 'front',
                'max_gram' : 20,
                'min_gram' : 1,
                'type' : 'edgeNGram'
            }
        }
    }
}

MAPPING = {
    'file' : {
        'properties' : {
            'filename' : {
                'type': 'text',
		'analyzer' : 'filename_words',
                'fields': {
                    'partial': {
                        'type' : 'text',
                        'analyzer' : 'filename_ngram',
                        'search_analyzer' : 'filename_words'
                    },
                }
            },

            'path': {
                'type': 'text',
                'analyzer' : 'filename_ngram',
                'search_analyzer' : 'filename_words'
            },
            'parent': {
                'type': 'keyword',
            },
            'host': {
                'type': 'keyword',
            },
            'file_type': {
                'type': 'keyword',
            },
            'extension': {
                'type': 'keyword',
            },
            'share_type': {
                'type': 'keyword',
            },
            'size': {
                'type': 'long'
            },
            'last_modified': {
                'type': 'date'
            },
            'crawled': {
                'type': 'date',
                'format': 'yyyy-MM-dd HH:mm:ss'
            }
        }
    }
}

# mapping for 1.X version of elasticsearch
MAPPING_DEPR = {
    'file' : {
        # expire after one week so the data from inactive machines wont show up
        '_ttl': {
            'enabled': True,
            'default': '1w'
        },
        'properties' : {
            'filename' : {
                'type': 'multi_field',
                'fields': {
                    'partial': {
                        'type' : 'string',
                        'index_analyzer' : 'filename_ngram',
                        'search_analyzer' : 'filename_words'
                    },
                    'full': {
                        'type' : 'string',
                        'analyzer' : 'filename_words'
                    },
                }
            },
            'path': {
                'type': 'string',
                'index_analyzer' : 'filename_ngram',
                'search_analyzer' : 'filename_words'
            },
            'parent': {
                'type': 'string',
                'index': 'not_analyzed'
            },
            'host': {
                'type': 'string',
                'index': 'not_analyzed'
            },
            'file_type': {
                'type': 'string',
                'index': 'not_analyzed'
            },
            'extension': {
                'type': 'string',
                'index': 'not_analyzed'
            },
            'share_type': {
                'type': 'string',
                'index': 'not_analyzed'
            },
            'size': {
                'type': 'long'
            },
            'last_modified': {
                'type': 'date'
            },
            'crawled': {
                'type': 'date',
                'format': 'yyyy-MM-dd HH:mm:ss'
            }
        }
    }
}


API_HOST = '0.0.0.0'
API_PORT = 8080

# Statement for enabling the development environment
DEBUG = True

# Application threads. A common general assumption is
# using 2 per available processor cores - to handle
# incoming requests using one and performing background
# operations using the other.
THREADS_PER_PAGE = 2

# Secret key for signing cookies
SECRET_KEY = "secret"


